<!-- INSERTING -->
<div class="modal custom-modal fade" id="assetActivityInsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img src="dashboard_resources/assetInsert.png"
                         alt="Sample photo" class="img-fluid"
                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">Insert New Asset Activity</h3>

                      <div class="form-outline mb-4">
                        <input type="date" id="activityDate" class="form-control form-control-lg" required/>
                        <label class="form-label" for="activityDate">Activity Date</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="date" id="tentativeStart" class="form-control form-control-lg" />
                        <label class="form-label" for="tentativeStart">Tentative Start</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="date" id="tentativeEnd" class="form-control form-control-lg" />
                        <label class="form-label" for="tentativeEnd">Tentative End</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" id="activityDescription" class="form-control form-control-lg" />
                        <label class="form-label" for="activityDescription">Description</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" id="activityCost" class="form-control form-control-lg" />
                        <label class="form-label" for="activityCost">Cost</label>
                      </div>

                      <div class="col-md-6 mb-4">
                        <select class="select" id="approvingOfficers" required>
                          <option disabled selected>Approving Officer</option>
                        </select>
                      </div>

                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" th:attr="data-id=${asset_id}" class="btn btn-warning btn-lg ms-2" onclick="newAssetActivity(this.getAttribute('data-id'));">Submit Form</button>
                        <script>
                          function newAssetActivity(id) {
                            const activityDate =  document.getElementById('activityDate').value
                            const tStart = document.getElementById('tentativeStart').value
                            const tEnd = document.getElementById('tentativeEnd').value
                            const cost = document.getElementById('activityCost').value

                            if (activityDate == "") {
                              alert("Activity date must not be empty!");
                              return;
                            }
                            else if (!isNaN(cost)) {
                              alert("Cost must be a number");
                              return;
                            }
                            else if (activityDate > tStart) {
                              alert("Start cannot be before the activity date!");
                              return;
                            }
                            else if (tStart > tEnd) {
                              alert("Tentative start cannot be after the tentative end!");
                              return;
                            }
                            else if(activityDate > tEnd) {
                              alert("Tentative end cannot be before the activity date!");
                              return;
                            }

                            const officer = document.getElementById('approvingOfficers').value
                            const officerIdentifiers = officer.split(',');
                            const assetActivity = {
                              id: id,
                              activityDate: activityDate,
                              tStart: tStart,
                              tEnd: tEnd,
                              description: document.getElementById('activityDescription').value,
                              cost: cost,
                              transOfficer: {
                                //first three are used to insert
                                hoId: officerIdentifiers[0],
                                position: officerIdentifiers[1],
                                electionDate: officerIdentifiers[2],
                                firstName: "", //optional
                                lastName: "", //optional
                              }};
                            fetch('/insertAssetActivity', {
                              method: 'POST',
                              headers: {
                                'Content-Type': 'application/json'
                              },
                              body: JSON.stringify(assetActivity)
                            });
                            setTimeout(function() {
                              location.reload();
                            }, 2000);
                          }
                        </script>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- UPDATING -->