<!-- Modal -->
<div class="modal custom-modal fade" id="assetUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- REFERENCE: https://mdbootstrap.com/docs/standard/extended/registration/ -->
            <section class="h-100 bg-dark">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                      <div class="card card-registration my-4">
                        <div class="row g-0">
                          <div class="col-xl-6 d-none d-xl-block">
                            <img src="dashboard_resources/assetUpdate.png"
                              alt="Sample photo" class="img-fluid"
                              style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                          </div>
                          <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                              <h3 class="mb-5 text-uppercase">Asset Information Update</h3>
              
                              <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="text" id="form3Example1m" readonly class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1m">Asset ID</label>
                                  </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1n">Asset Name</label>
                                  </div>
                                </div>
                              </div>
              
                              <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="date" id="form3Example1m1" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1m1">Acquisition Date</label>
                                  </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="number" id="form3Example1n1" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1n1">Asset Value</label>
                                  </div>
                                </div>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example8" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example8">Asset Description</label>
                              </div>
              
                              <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
              
                                <h6 class="mb-0 me-4">For Rent? </h6>
              
                                <div class="form-check form-check-inline mb-0 me-4">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="yesRent"
                                    value="yes" />
                                  <label class="form-check-label" for="yesRent">Yes</label>
                                </div>
              
                                <div class="form-check form-check-inline mb-0 me-4">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="noRent"
                                    value="no" />
                                  <label class="form-check-label" for="noRent">No</label>
                                </div>
                                <div class="row" style="margin-top: 2vh;">
                                    <div class="col-md-5 mb-4">
                  
                                      <select class="select">
                                        <option disabled selected>State</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                      </select>
                  
                                    </div>
                                    <div class="col-md-6 mb-4">
                  
                                      <select class="select">
                                        <option value="1">City</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                      </select>
                  
                                    </div>
                                  </div>
                              </div>
              
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example9" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example9">DOB</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example90" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example90">Pincode</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example99" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example99">Course</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example97" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example97">Email ID</label>
                              </div>
              
                              <div class="d-flex justify-content-end pt-3">
                                <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                              </div>
              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
        </div>
    </div>
</div>