<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    
    <div class="video-container">
        <video src="./index_resources/1.mp4" autoplay muted loop></video>
    </div>
    <div class="video-container">
        <video src="./index_resources/2.mp4" autoplay muted loop></video>
    </div>
    <div class="video-container">
        <video src="./index_resources/3.mp4" autoplay muted loop></video>
    </div>
    <div class="video-container">
        <video src="./index_resources/4.mp4" autoplay muted loop></video>
    </div>
    <div class="video-container">
        <video src="./index_resources/5.mp4" autoplay muted loop></video>
    </div>
</body>
</html>